keybinds clear-defaults=true {
    locked {
        bind "Ctrl j" { SwitchToMode "normal"; }
        bind "Ctrl o" { SwitchFocus; }
    }

    normal {
        bind "Esc" "Enter" "Ctrl c" { SwitchToMode "locked"; }

        bind "|" { NewPane "right"; SwitchToMode "locked"; }
        bind "-" { NewPane "down"; SwitchToMode "locked"; }

        bind "k" { Write 27 91 65; }
        bind "j" { Write 27 91 66; }

        bind "s" { EditScrollback; SwitchToMode "locked"; }

        bind "e" { ToggleActiveSyncTab; SwitchToMode "locked"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "locked"; }
        bind "n" {
            NewTab { layout "default"; }
            SwitchToMode "renametab"
        }

        bind "r" { SwitchToMode "renametab"; }

        bind "w" {
            LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
                floating true
                ignore_case true
                quick_jump true
            }
            SwitchToMode "locked"
        }
    }

    renametab {
        bind "Esc" "Enter" "Ctrl c" { SwitchToMode "locked"; }
    }
}

plugins {
    compact-bar location="zellij:compact-bar"
}

default_mode "locked"
default_layout "default"
pane_frames false
show_startup_tips false
show_release_notes false
copy_command "pbcopy"
copy_clipboard "system"
scroll_buffer_size 10000
mouse_mode false
